.callout{:style => "margin-top: 30px;"}
  %p
    %strong About Tweetsworth
  %p
    %img{:src => "/factore.png", :style => "padding-right: 10px; width: 40px; vertical-align: middle;"}
    %small
      Tweetsworth is a project of web design company
      %a{:href => "http://factore.ca"} factor[e] design initiative.
      Follow us
      %a{:href => "http://twitter.com/factor_e"} @factor_e.