%h3 Calculate the value of your Twitter account instantly with
%h1 The World's First 100% Accurate Twitter Valuation Tool 

%p
  Interested in selling your followers?  Curious about the ongoing income you could earn by advertising 
  using your Twitter account?  You don't need to wonder any more.

/ Although from the user's perspective we are requesting a "username", we'll use Twitter's nomenclature
/ for this field and call it screen_name in our code instead. By using the same names as the API you 
/ interact with, you decrease the cognitive overhead of dealing with the API.
%form{:action => "/value", :method => "post"}
  Enter your Twitter username:
  %input{:name => "screen_name", :type => "text"}
  %input{:type => "submit", :value => "Submit"}