%h3 Calculate the value of your Twitter account instantly with
%h1 The World's First 100% Accurate Twitter Valuation Tool

.spacer{:style => "height: 20px;"}

%p
  Tweetsworth uses advanced algorithms based on your number of followers, the content of your tweets, and 
  how many times you've been retweeted to determine the true value of your Twitter account. Enter your 
  Twitter username to find
  %strong your
  worth.

.spacer{:style => "height: 20px;"}

/ Although from the user's perspective we are requesting a "username", we'll use Twitter's nomenclature
/ for this field and call it screen_name in our code instead. By using the same names as the API you 
/ interact with, you decrease the cognitive overhead of dealing with the API.
%form{:action => "/value", :method => "post"}
  Enter your Twitter username:
  %input{:name => "screen_name", :type => "text"}
  %input{:type => "submit", :value => "Submit"}